<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="fraudlabspro_tab" frontName="flpsummarytab">
            <module name="Hexasoft_FraudLabsPro" />
        </route>
    </router>
</config>





