<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="fraudlabspro" translate="label" sortOrder="20" >
            <label>FraudLabs Pro</label>
        </tab>
        <section id="fraudlabspro" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>fraudlabspro</tab>
            <resource>Hexasoft_FraudLabsPro::hexasoft_fraudlabspro</resource>
            <group id="active_display" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FraudLabs Pro</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment><![CDATA[You can register for a free license key at <a href="https://www.fraudlabspro.com/sign-up?r=magento" target="_blank">https://www.fraudlabspro.com/sign-up</a> if you do not have one.]]></comment>
                </field>
                <field id="approve_status" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approve Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment><![CDATA[Change to this order status if the order has been approved either by FraudLabs Pro, or via manual action.]]></comment>
                </field>
                <field id="review_status" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Review Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment><![CDATA[Change to this order status if the order has been marked as REVIEW by FraudLabs Pro.]]></comment>
                </field>
                <field id="reject_status" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reject Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment><![CDATA[Change to this order status if the order has been rejected either by FraudLabs Pro, or via manual action.]]></comment>
                </field>
                <field id="enable_notification_on" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable notification on</label>
                    <source_model>Hexasoft\FraudLabsPro\Model\Adminhtml\System\Config\Source\View</source_model>
                    <comment><![CDATA[You can trigger notification, such as email sending, using Zapier service. Please configure the integration in Zapier.com before enabling the options. You can visit <a href="https://www.fraudlabspro.com/resources/tutorials/how-to-enable-notification-using-zapier-in-magento2/" target="_blank">https://www.fraudlabspro.com/resources/tutorials/how-to-enable-notification-using-zapier-in-magento2/</a> for details on how to enable the zap.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>